@import url('https://fonts.googleapis.com/css2?family=Halant:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav{
  font-family: 'Halant', serif;
  background-image: url("../assets/nav.jpg"); 
  background-position: top;
  background-repeat: repeat;
  background-size: cover;
  padding: 20px 2vw;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0 10px 14px 0 rgb(82, 94, 99);
}

a{
  font-size: 1.2rem;
  font-weight: 800;
  color: #04527A;
  text-decoration: none;
}

img {
  width: 160px; 
  height: 40px; 
}

.input{
  font-family: 'DM Serif Display', serif;
  background-color: rgb(255, 255, 255);
  flex-grow: 1; 
  width: 43vw;
  height: 45px; 
  margin: 0 10px;
  padding: 10px; 
  border-radius: 7px;
  font-size: 16px; 
  border: none;
  box-shadow: 0 6px 8px 0 rgb(37, 1, 53);
}

.insertPlayer{
    font-family: 'DM Serif Display', serif;
    font-size: 1rem;
    font-weight: 700;
    background-color: #004D98;
    color: #fefefe;
    letter-spacing: 1px;
    padding: 10px;
    border: transparent;
    border-radius: 7px;
}

.insertPlayer:hover{
    background-color:  #02407f;
    transform: scale(0.98);
}

.logPlayer{
  font-family: 'DM Serif Display', serif;
  font-size: 1rem;
  font-weight: 700;
  background-color: #A50044;
  color: #fefefe;
  letter-spacing: 1px;
  padding: 10px;
  border: transparent;
  border-radius: 7px;
}

.logPlayer:hover{
  background-color: #780032;
  transform: scale(0.98);
}

.flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container{
    width: auto;
    padding-block: 120px;
    padding-inline: 1.2vw;
    overflow: hidden;
    row-gap: 3vw;
    column-gap: 3vw;
}

.bgIMG{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}

.card{
    background-color: rgb(254,254,246);
    background-image: url("https://kalvium.community/images/launcher-hero-bg.svg");
    object-fit: cover;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    width: 260px;
    min-height: 400px;
    padding-bottom: 15px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgb(47, 47, 47);
}

.card:hover{
    box-shadow: 1px 1px 8px #474747;
    background-color: rgb(255, 238, 207);
    transform: translateY(-4px);
}

.card-image{
    padding: 2vh;
}

.card-image img{
    border-radius: 10px;
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

.card-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline: 12px;
    text-align: start;
}

.details{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.height{
    margin-top: -10px;
    color: rgb(76, 76, 76);
}

.age h5{
    color: rgb(76, 76, 76);
}

h3{
    font-size: 1rem;
    text-wrap: wrap;
    padding-bottom: 1.9vh;
}

.success-message {
  background-color: rgb(238, 255, 238);
  position: fixed; 
  top: 20px; 
  left: 20px; 
  padding: 20px;
  min-height: 50px; 
  width: calc(100% - 40px);
  max-width: 270px;
  font-size: 1.2rem; 
  color: rgb(6, 184, 6);
  text-align: center;
  font-weight: bolder;
  border: 3.2px solid rgb(6, 210, 6);
  box-shadow: 2px 8px 10px 0 rgb(37, 1, 53);
  z-index: 1000; 
  box-sizing: border-box; 
}

.actions{
    display: flex;
    gap: 2vw;
}

.delete{
    margin-top: 10px;
    background-color:  #A50044;
    width: auto; 
    padding: 10px 20px; 
    color: white;
    font-weight: bold;
    font-size: 16px; 
    letter-spacing: 1.3px;
    border: none;
    border-radius: 7px;
    box-shadow: 1.2px 1.2px 5px rgb(136, 136, 136);
}

.delete:hover{
    cursor: pointer;
    animation: 1s ease 0s normal none pulsate;
}

.update{
    margin-top: 10px;
    background-color: #004D98;
    width: auto; 
    padding: 10px 20px; 
    color: white;
    font-weight: bold;
    font-size: 16px; 
    letter-spacing: 1.3px;
    border: none;
    border-radius: 7px;
    box-shadow: 1.2px 1.2px 5px rgb(136, 136, 136);
}

.update:hover{
    cursor: pointer;
    animation: 1s ease 0s normal none pulsate;
}

@keyframes pulsate{
    0% {
      transform: scale(1);
      transform-origin: center center;
      animation-timing-function: ease-out;
    }
    10% {
      transform: scale(0.91);
      animation-timing-function: ease-in;
    }
    17% {
      transform: scale(0.98);
      animation-timing-function: ease-out;
    }
    33% {
      transform: scale(0.87);
      animation-timing-function: ease-in;
    }
    45% {
      transform: scale(1);
      animation-timing-function: ease-out;
    }
  }

  @media (max-width: 768px) {
    .success-message {
      font-size: 0.9rem; 
      padding: 8px;
      width: calc(100% - 16px); 
    }
  }